{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-5">

    {% if user.is_authenticated %}

    <h1>Hello World</h1>

    {% else %}
        <h1>Login </h1>

        <br>

        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <b><label for="Username" class="form-label">Username</label></b>
                <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
            </div>
            <div class="mb-3">
                <b><label for="password" class="form-label">Password</label></b>
                <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Login</button>
            </div>
        </form>
    {% endif %}
</div>

{% endblock %}